<section class="flex">
    <!-- Sidebar -->
    <div class="sidebar flex w-30 h-screen flex-col justify-center ">
        <ul class="m-7 flex-none max-w-[4.8rem]">
            <li class="mb-3 bg-[#f2f3f5] p-[1.2rem] rounded-full 
             hover:bg-[#0563bb] transition-all duration-200 hover:w-[10rem] w-[4.8rem]">
                <a href="#home" class="nav-link scrollto active flex">
                    <i class="bx bx-home text-4xl hover:text-white"></i>
                    <p class="text-[1.2rem] font-medium h-fit m-[.5rem] text-white hidden">Home</p>
                </a>

            </li>
            <li class="mb-3 bg-[#f2f3f5] p-[1.2rem] rounded-full 
             hover:bg-[#0563bb] transition-all duration-200 hover:w-[10rem] w-[4.8rem]">
                <a href="#about" class="nav-link scrollto flex">
                    <i class="bx bx-user text-4xl"></i>
                    <p class="text-[1.2rem] font-medium h-fit m-[.5rem] text-white hidden">About</p>
                </a>
            </li>
            <li class="mb-3 bg-[#f2f3f5] p-[1.2rem] rounded-full 
             hover:bg-[#0563bb] transition-all duration-200 hover:w-[10rem] w-[4.8rem]">
                <a href="#resume" class="nav-link scrollto flex">
                    <i class="bx bx-file-blank text-4xl"></i>
                    <p class="text-[1.2rem] font-medium h-fit m-[.5rem] text-white hidden">Resume</p>
                </a>
            </li>
            <li class="mb-3 bg-[#f2f3f5] p-[1.2rem] rounded-full 
             hover:bg-[#0563bb] transition-all duration-200 hover:w-[10rem] w-[4.8rem]">
                <a href="#portfolio" class="nav-link scrollto flex">
                    <i class="bx bx-book-content text-4xl"></i>
                    <p class="text-[1.2rem] font-medium h-fit m-[.5rem] text-white hidden">Portfolio</p>
                </a>

            </li>
            <li class="mb-3 bg-[#f2f3f5] p-[1.2rem] rounded-full 
            hover:bg-[#0563bb] transition-all duration-200 hover:w-[10rem] w-[4.8rem]">
                <a href="#skill" class="nav-link scrollto flex">
                    <i class="bx bx-server text-4xl"></i>
                    <p class="text-[1.2rem] font-medium h-fit m-[.5rem] text-white hidden">Services</p>
                </a>
            </li>
            <li class="mb-3 bg-[#f2f3f5] p-[1.2rem] rounded-full 
            hover:bg-[#0563bb] transition-all duration-200 hover:w-[10rem] w-[4.8rem]">
                <a href="#contact" class="nav-link scrollto flex">
                    <i class="bx bx-envelope text-4xl"></i>
                    <p class="text-[1.2rem] font-medium h-fit m-[.5rem] text-white hidden">Contact</p>
                </a>
            </li>
        </ul>
    </div>
    <!-- Main container -->
    <div class="main-container flex-1 w-70 h-screen overflow-auto">

        <!-- Home container -->
        <div class="home h-screen flex flex-col justify-center text-center" id="home">
            Home
        </div>
        <!-- About Container -->
        <div class="about h-screen flex flex-col justify-center text-center" id="about">
            About
        </div>
        <!-- Resume Container -->
        <div class="about h-screen flex flex-col justify-center text-center" id="resume">
            Resume
        </div>
        <!-- Portfolio Container -->
        <div class="about h-screen flex flex-col justify-center text-center" id="portfolio">
            Portfolio
        </div>
        <!-- Skills Container -->
        <div class="about h-screen flex flex-col justify-center text-center" id="skill">
            Skills
        </div>
        <!-- Contact Container -->
        <div class="about h-screen flex flex-col justify-center text-center" id="contact">
            Contact
        </div>
    </div>
</section>